@import com.mle.playslick.db.MyRow
@(rows: Seq[MyRow], addForm: Form[String])(implicit flash: Flash)
@import bs.{headerRow, rowColumn12}

@tabs("home") {
    @headerRow("Table")
    @flash.get(Home.FEEDBACK).map { feedback =>
        @flash.get(Home.SEVERITY).map { severity =>
            <div class="lead alert alert-@severity" role="alert">@feedback</div>
        }
    }
    @rowColumn12 {
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr><th>ID</th><th>Text</th><th>Remove</th></tr>
            </thead>
            <tbody>
            @rows.map { row =>
                <tr><td>@row.id</td><td>@row.name</td><td><form action="@routes.Home.remove(row.id)" method="POST"><button class="btn btn-xs btn-danger">
                    Delete</button></form></td></tr>
            }
            </tbody>
        </table>
    }
    @rowColumn12 {
        <form class="form-inline" action="@routes.Home.add()" method="POST">
            @bs.basicTextInput(addForm(Home.NAME), "Text", "abra kadabra")
            <button type="submit" class="btn btn-default">Add</button>
        </form>
    }
}
