@(tabName: String)(content: Html)
@rootPage("Play 2.4.x Slick 3 Demo") {
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.Home.allRows()">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @navItem("Home", routes.Home.allRows(), "home")
                </ul>
            </div>
        </div>
    </div>
    <section>
        <div class="container">
        @content
        </div>
    </section>
}
@navItem(title: String, href: Call, glyphSuffix: String) = {
    @bs.navItem(title, title.toLowerCase, tabName, href, glyphSuffix)
}
